* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  width: 100vw;
  text-align: center;
  background-color: rgb(63, 63, 63);
  color: white;
  padding: 15px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0%;
}

.form-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.label-input {
  height: 15px;
  border: none;
  border-bottom: 2px solid rgb(53, 53, 53);
  outline: none;
}

.label-input-form label {
  position: absolute;
  transition: 0.20s;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 300px;
  padding: 15px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.mail-button {
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 3px;
  color: white;
  background-color: rgb(43, 43, 43);
  cursor: pointer;
}
